@{
    ViewData["Title"] = "Внести сотрудника";
}

<h3>Форма внесения сотрудника</h3>
<p>Для внесения сотрудника заполните следующие поля:</p>
<form method="post" class="form-horizontal" role="form">


    <div class="form-group">
        <label for="Name" class="col-md-2 control-label">Имя:</label>
        <div class="col-md-4">
            <input type="text" name="Name" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="Surname" class="col-md-2 control-label">Фамилия:</label>
        <div class="col-md-4">
            <input type="text" name="Surname" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="Patronymic" class="col-md-2 control-label">Отчество:</label>
        <div class="col-md-4">
            <input type="text" name="Patronymic" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="DateBirth" class="col-md-2 control-label">Дата рождения:</label>
        <div class="col-md-4">
            <input type="date" name="DateBirth" class="form-control" />
        </div>
    </div>



    <div class="form-group">
        <label for="Number" class="col-md-2 control-label">Номер телефона:</label>
        <div class="col-md-4">
            <input type="text" name="Number" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Почта:</label>
        <div class="col-md-4">
            <input type="email" name="Email" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Отправить" />
        </div>
    </div>
</form>



@*<div class="subheader">
        <div class="navbar navbar-inverse">
            <div class="container">
                <aside class="subheader-sidebar">
                    <button class="">
                        "Каталог"
                    </button>
                </aside>

                <nav class="subheader-nav pt-left-center pt-nowrap">
                    <a href="" class="navbar-brand">
                        Благоустройство
                    </a>
                    <a href="" class="navbar-brand">
                        Стройматериалы
                    </a>
                    <a href="" class="navbar-brand">
                        Инструмент
                    </a>
                    <a href="" class="navbar-brand">
                        Электрика
                    </a>
                    <a href="" class="navbar-brand">
                        Сантехника
                    </a>
                    <a href="" class="navbar-brand">
                        Крепёж
                    </a>
                    <a href="" class="navbar-brand">
                        Новинки
                    </a>
                </nav>
            </div>


        </div>
    </div>*@
