@{
    ViewData["Title"] = "Главная";
}

<!-- Header -->
<header class="section-outer section-header">
    <div class="section-inner section-inner--wide">
        <div class="main-navigation">
        <a class="loga" href="#"></a>
        <nav class="nav">
            <ul class="nav-wrapper">
                <li class="nav-wrapper__item">
                    <a href="#" class="nav-wrapper__item-link nav-wrapper__item-link--active">Home</a>
                </li>
                <li class="nav-wrapper__item">
                    <a href="#" class="nav-wrapper__item-link">Blog</a>
                </li>
                <li class="nav-wrapper__item">
                    <a href="#" class="nav-wrapper__item-link">Features</a>
                </li>
                <li class="nav-wrapper__item">
                    <a href="#" class="nav-wrapper__item-link">Pricing</a>
                </li>
                <li class="nav-wrapper__item">
                    <a href="#" class="nav-wrapper__item-link">Documentation</a>
                </li>
            </ul>
        </nav>
        <div class="socials">
            <ul class="socials-wrapper">
                <li class="socials-wrapper__item">
                    <a href="#" class="socials-wrapper__item-link">
                        <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" /></svg>
                    </a>
                </li>
                <li class="socials-wrapper__item">
                    <a href="#" class="socials-wrapper__item-link">
                        <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z" /></svg>
                    </a>
                </li>
                <li class="socials-wrapper__item">
                    <a href="#" class="socials-wrapper__item-link">
                        <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" /></svg>
                    </a>
                </li>
                <li class="socials-wrapper__item">
                    <a href="#" class="socials-wrapper__item-link">
                        <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z" /></svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-wrapper">
            <a href="#" class="btn btn--primary">Get started</a>
        </div>
        </div>
    </div>
</header>
<!-- /Header -->

<!-- hero-image -->
<section class="section-outer section-hero-image">
    
    <ul class="slider-hero-image">
        <li class="slider-hero-image__item" style="background-image: url(img/png-cloud.png);">
            <div class="section-inner slider-hero-image__item-content">
                <h5>PLAN YOUR LIFE</h5>
                <h2>Increase your <span>productivity</span></h2>
                <div class="text">
                    Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergen similique est cu. Et vel modus congue vituperata.
                </div>

                <div class="btn-icon-play-wrapper">
                    <a href="#">
                        <i class="icon-play"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</section>
<!-- /hero-image -->

<!-- costumers -->
<section class="section-outer section-costumers">
    <div class="section-inner">
        costumers
    </div>
</section>
<!-- /costumers -->

<!-- plan-and-manage -->
<section class="section-outer section-plan-and-manage">
    <div class="section-inner">
        plan-and-manage
    </div>
</section>
<!-- /plan-and-manage -->

<!-- featuresstats -->
<section class="section-outer section-featuresstats">
    <div class="section-inner">
        featuresstats
    </div>
</section>
<!-- /featuresstats -->

<!-- stats -->
<section class="section-outer section-stats">
    <div class="section-inner">
        stats
    </div>
</section>
<!-- /stats -->

<!-- blog -->
<section class="section-outer section-blog">
    <div class="section-inner">
        blog
    </div>
</section>
<!-- /blog -->

<!-- quotes -->
<section class="section-outer section-quotes">
    <div class="section-inner">
        quotes
    </div>
</section>
<!-- /quotes -->

<!-- faq -->
<section class="section-outer section-faq">
    <div class="section-inner">
        faq
    </div>
</section>
<!-- /faq -->

<!-- get-started -->
<section class="section-outer section-get-started">
    <div class="section-inner">
        get-started
    </div>
</section>
<!-- /get-started -->

<!-- newsletter -->
<section class="section-outer section-newsletter">
    <div class="section-inner">
        newsletter
    </div>
</section>
<!-- /newsletter -->

<!-- footer -->
<footer class="section-outer section-footer">
    <div class="section-inner section-inner--wide">
        <div class="main-navigation">
            <a class="logo" href="#"></a>
            <nav class="nav">
                <ul class="nav-wrapper">
                    <li class="nav-wrapper__item">
                        <a href="#" class="nav-wrapper__item-link nav-wrapper__item-link--active">Home</a>
                    </li>
                    <li class="nav-wrapper__item">
                        <a href="#" class="nav-wrapper__item-link">Blog</a>
                    </li>
                    <li class="nav-wrapper__item">
                        <a href="#" class="nav-wrapper__item-link">Features</a>
                    </li>
                    <li class="nav-wrapper__item">
                        <a href="#" class="nav-wrapper__item-link">Pricing</a>
                    </li>
                    <li class="nav-wrapper__item">
                        <a href="#" class="nav-wrapper__item-link">Documentation</a>
                    </li>
                </ul>
            </nav>
            <div class="socials">
                <ul class="socials-wrapper">
                    <li class="socials-wrapper__item">
                        <a href="#" class="socials-wrapper__item-link">
                            <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" /></svg>
                        </a>
                    </li>
                    <li class="socials-wrapper__item">
                        <a href="#" class="socials-wrapper__item-link">
                            <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z" /></svg>
                        </a>
                    </li>
                    <li class="socials-wrapper__item">
                        <a href="#" class="socials-wrapper__item-link">
                            <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" /></svg>
                        </a>
                    </li>
                    <li class="socials-wrapper__item">
                        <a href="#" class="socials-wrapper__item-link">
                            <svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z" /></svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn btn--primary">Get started</a>
            </div>
        </div>
        <div class="copyright">
            Copyright © 2022 by Kvashnin Egor I586 group
        </div>
    </div>
</footer>
<!-- /footer -->





